/* font-family: 'Megrim', cursive;
font-family: 'Raleway', sans-serif; */

* {
    font-family: 'Raleway', sans-serif; 
}
:root{
    --header-font:'Megrim',cursive;
    --navbar-color: #7F797A;
    --white-color: white;
}
/* ==============NAVBAR============== */
nav{
    background-color: var(--navbar-color);

}
.navbar-brand{
    font-family: var(--header-font);
    font-size: 5rem;
}
a.nav-link{
    font-family: var(--header-font);
    font-weight:bolder;
    font-size: 4rem;
    
}
#hairByBelenLogo{
    max-width: 20%;
    padding-top: 2%;
    padding-bottom: 2%; 
}
.navbar-toggler{
    font-size: 4.25rem;
}
/*===========LANDING SECTION=========== */
.landingSection{

}
.landingDivBackground{
}
#salonBackground{
    width: 62rem;
    height: 97rem;
}
#blackSquare{
    opacity: 0.2;
    margin-top: -98rem;
    width: 62rem;
    height:98rem;
    
}