/* font-family: 'Megrim', cursive;
font-family: 'Raleway', sans-serif; */

* {
    font-family: 'Raleway', sans-serif; 
}
:root{
    --header-font:'Megrim',cursive;
    --navbar-color: #7F797A;
    --white-color: white;
    --dark-purpleish-color: #685455;
}
/* ==============NAVBAR============== */
nav{
    background-color: var(--navbar-color);
}
.navbar{
    width: 62rem;
}
.navbar-brand{
    font-family: var(--header-font);
    font-size: 5rem;
}
a.nav-link{
    font-family: var(--header-font);
    font-weight:bolder;
    font-size: 4rem;
    
}
#hairByBelenLogo{
    max-width: 20%;
    padding-top: 2%;
    padding-bottom: 2%; 
}
.navbar-toggler{
    font-size: 4.25rem;
}
/*===========LANDING SECTION=========== */
.landingSection{
    width: 62rem;
    height: 97rem;
}
#salonBackground{
    width: 62rem;
    height: 97rem;
}
#blackSquare{
    opacity: 0.2;
    margin-top: -98rem;
    width: 62rem;
    height:98rem;
}
#logo{
    width: 46rem;
    margin-top: -159rem;
    margin-left: 8rem;
    transform: rotate(-10deg);
}
.heading{
    font-family: var(--header-font);
    font-size: 16rem;
    margin-top: -65rem;
    margin-left: 0rem;
    color: var(--white-color);
    font-weight: bold;
    text-align: center;
}

.salonName{
    font-size: 6rem;
    text-align: center;
    margin-top: 2%;
    color: white;
}
#schedule{
    background-color: var(--dark-purpleish-color);
    color: var(--white-color);
    border-radius: 23px;
    font-size: 3rem;
    margin-left: 13rem;
    padding: 34px;
    margin-top: 3rem;
}